appnope==0.1.2
asttokens==2.0.5
backcall==0.2.0
black==22.6.0
brotlipy==0.7.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.4
click==8.0.4
comm==0.1.2
contourpy==1.0.5
cryptography==38.0.4
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
entrypoints==0.4
executing==0.8.3
flit_core==3.6.0
flwr==1.2.0
fonttools==4.25.0
future==0.18.2
grpcio==1.51.1
idna==3.4
ipykernel==6.19.2
ipython==8.7.0
iterators==0.0.2
jedi==0.18.1
jupyter_client==7.4.8
jupyter_core==5.1.1
kiwisolver==1.4.4
matplotlib==3.6.2
matplotlib-inline==0.1.6
munkres==1.1.4
mypy-extensions==0.4.3
nest-asyncio==1.5.6
numpy==1.24.1
packaging==22.0
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pip==22.3.1
platformdirs==2.5.2
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.11.2
pyOpenSSL==22.0.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
PyYAML==6.0
pyzmq==23.2.0
requests==2.28.1
setuptools==65.6.3
six==1.16.0
stack-data==0.2.0
tomli==2.0.1
torch==1.12.1
torchvision==0.13.1a0
tornado==6.2
traitlets==5.7.1
typing_extensions==4.4.0
urllib3==1.26.14
wcwidth==0.2.5
wheel==0.37.1
